*{
    font-family: 'Roboto', sans-serif;
    background-color: #aff7fd;

}

h1{
    text-align: center;
}

.option-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 150px;
    font-size: 1.2rem;
    border-radius: 10px;
}

button:hover{
    font-size: 1.25rem;
    border: 2px solid black;
    
}

.option-container{
    padding: 10px;
}

.player-container{
    padding: 10px;
    font-size: 1.1rem;
}

#player-form{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-evenly;
    width:100%;
}

input{
    background-color: white;
}

#game-container{
    border: 1px solid black;
}